.musicBoxes {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
    // flex-wrap: wrap;
  }

  .musicBoxView{
    margin-bottom: 10px;
  }
  
  .musicBox {
    width: 50%; /* Adjust width as needed */
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 1px white solid;
    border-radius: 25%;
  }

  .musicBoxContent{
    flex-direction: column;
    margin-left: 10px;
    margin-top: 4px;
  }

  .musicArtName{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .musicName{
    color: white;
    font-size: 13px;
  }
  .musicPrice{
    color: white;
    font-size: 14px;
  }

  .PriceBuy{
    flex-direction: row;
    margin-top: 1%;
  }

  .musicButton{
    // width: 10%;
    color:#FFBB00;
    margin-left: 1%;
    align-items: center;
    justify-content: center;
    
  }