.browseFoundation{
    flex: 1;
    display: flex;
    background-color: #000;
}

.topScreen{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // background-color: blue;
    width: 100%;
    
}

.profilePic{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.word{
    color: #FF3030;
    font-size: 30px;
}

.artistList{
    display: flex;
    flex-direction: column;
}

.artistCard{
    width: 90%;
    height: 133px;
    border-radius: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5%;
    background-color: #ffffff;
    justify-content: center;
}

.artistCardContent{
    margin: 0 20px;
    flex-direction: row;
    align-items: center;
}

.artistCardPic{
    width: 93px;
    height: 93px;
    border-radius: 25px;
    border-color: black;
    background-color: red;
}

.artistCardText{
    margin-left: 12px;
    margin-bottom: 7px;
    
}

.artistName{
    font-size: 17px;
    font-weight: bold;
}

.artistGenre{
    font-size: 11px;
    color: #9e9e9e;
    margin-top: 5%;
}

.artistSamples{
    font-size: 11px;
}

.artistFollow{
    font-size: 11px;
    margin-top: 5%;
}

.followingText{
    color:#FF3030;
}

.followText{
    color: #FFBB00;
}

.artistCardButton{
    width: 40px;
    height: 40px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    right: 0px; /* Adjust the right position as needed */
}