.musicBoxes {
    display: flex;
    flex-direction: column;
    
    margin-bottom: 110px;
    // flex-wrap: wrap;
  }

  .musicBoxView{
    margin-bottom: 10px;
    margin-top: 18px;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center items vertically */
  }
  
  .musicBox {
    width: 90%; /* Adjust width as needed */
    height: 150px;
    margin: 0 auto;
    // margin-bottom: 20px; /* Adjust margin as needed */
    border: 1px white solid;
    border-radius: 25%;

    // background-color: #fff; 
  }

  .musicBoxBelow{
    flex-direction: row;
    align-items: center;
  }

  .musicBoxContent{
    flex-direction: column;
    flex: 1;
    margin-left: 8%;
    margin-top: 4px;
  }

  .musicArtName{
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  .musicName{
    color: white;
    font-size: 13px;
  }
  .musicPrice{
    color: white;
    font-size: 14px;
  }

  .PriceBuy{
    flex-direction: row;
    margin-top: 1%;
  }

  .buyButton {
    width: 60px;
    height: 40px;
    background-color: #FFBB00;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    right: 6%; /* Adjust the right position as needed */
  }

  .buyButtonText{
    color: white;
    font-weight: 500;
  }